{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>FastAPI + Celery + Redis</h1>
    <hr>
    <br>
    <div>
        <h3>Tasks</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button"
                        onclick="handleClick()" id="promptButton">
                    Submit task
                </button>
            </div>
            <input type="text" class="form-control" placeholder="default" aria-label=""
                   aria-describedby="basic-addon1" id="promptText">
        </div>
    </div>
    <br><br>
    <div>
        <h3>Done Task</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Time</th>
                <th>Result (reversed text)</th>
            </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
