{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>FastAPI + Celery + Redis</h1>
    <hr>
    <br>
    <div>
        <h3>Tasks</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button"
                        onclick="handleClick()" id="promptButton">
                    Submit task
                </button>
            </div>
            <input type="text" class="form-control" placeholder="default"
                   aria-label=""
                   aria-describedby="basic-addon1" id="promptText">
        </div>
    </div>
    <!--    image in the center of the screen-->
    <div class="text-center">
        <img src="https://images.squarespace-cdn.com/content/v1/6213c340453c3f502425776e/0715034d-4044-4c55-9131-e4bfd6dd20ca/2_4x.png?format=1000w"
             class="rounded" alt="..." id="resultImage">
    </div>

</div>

{% endblock %}
