{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>FastAPI + Celery + Redis</h1>
    <hr>
    <br>
    <div>
        <h3>Tasks</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-primary" type="button"
                        onclick="handleClick()" id="promptButton">
                    Submit task
                </button>
            </div>
            <input type="text" class="form-control" placeholder="default"
                   aria-label=""
                   aria-describedby="basic-addon1" id="promptText">
        </div>
    </div>
    <!--    image in the center of the screen-->
    <div class="text-center">
        <img src="https://i.pinimg.com/originals/2b/02/15/2b02159fee58d573c079ad5212d56b63.gif"
             class="rounded" alt="..." id="resultImage">

    </div>

</div>

{% endblock %}
